doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title CustomBot
    link(href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet")
    link(href="style.css" type="text/css" rel="stylesheet")
    link(href="icon.png" type="image/png" rel="shortcut icon")
body
    nav.top
        ul.logo
            li#logo <img src="icon.png" alt="CustomBot Icon" height="50" width="50">
            li#logo-text  <a href="/">CustomBot</a>
        ul.nav-list
            li <a href="/">Home</a>
            li <a href="https://discordapp.com/there/is/no/invite/link/yet">Invite</a>
            li.last-nav <a href="/dashboard">Dashboard</a>
    .main
        .intro
            h1.title CustomBot
            h2.title A fully customizable Discord bot
        .info
            p A bot that allows you to do anything you so desire, and control everything from your web browser.
        // features to be added someday
        ul.links
            li <a href="https://discordapp.com/there/is/no/invite/link/yet">Invite</a>
            li Server
            li <a href="https://github.com/Gymnophoria/CustomBot">Github</a>